APP_NAME=PPIS API
APP_VERSION=1.0.0

DATABASE_URL=postgresql+psycopg://USERNAME:PASSWORD@127.0.0.1:5432/DATABASE_NAME

SECRET_KEY=CHANGE_ME
ACCESS_TOKEN_EXPIRE_MINUTES=1440

GOOGLE_WEB_CLIENT_ID=YOUR_WEB_CLIENT_ID.apps.googleusercontent.com
GOOGLE_WEB_CLIENT_SECRET=YOUR_WEB_CLIENT_SECRET

GOOGLE_CALENDAR_REDIRECT_URI_LOCAL=http://127.0.0.1:8000/auth/google/calendar/callback
GOOGLE_CALENDAR_REDIRECT_URI_SERVER=https://ppis.thevirtualtrust.com/auth/google/calendar/callback